* {
    font-size: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #edf1f8;
    font-family: "Noto Sans", sans-serif;
  }
  main {
    flex: 1;
  }
  a:hover {
    opacity: 0.8;
  }
  a:active {
    opacity: 0.7;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b5c1cc;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .base-container {
    padding: 0 1.25rem;
    margin: 0 auto;
    max-width: 1240px;
  }

  .service-slide-1 .slick-prev,
  .service-slide-1 .slick-next {
    top: 45%;
  }
  .slick-prev {
    left: 0px;
  }
  .slick-next {
    right: 0px;
  }

  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    border-radius: 999px;
    background: #fff;
    color: #fff;
  }

  #slick-slider-dots {
    position: relative;
    /* bottom: 0px;
    left: 50%;
    transform: translateX(-50%); */
    display: flex;
  }
  #slick-slider-dots ul {
    position: static;
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 0 0.25rem;
    margin: 0 auto;
    display: grid;
  }
  #slick-slider-dots ul li {
    margin: 0;
    width: auto;
    height: auto;
  }
  #slick-slider-dots ul li button {
    background: rgba(255, 255, 255, 0.6);
    height: 3px;
    width: 100%;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
    border: none;
    padding: 0;
  }
  #slick-slider-dots ul li button::before {
    content: none;
  }
  #slick-slider-dots ul li:first-child button {
    border-radius: 5px 0 0 5px;
  }
  #slick-slider-dots ul li:last-child button {
    border-radius: 0 5px 5px 0;
  }
  #slick-slider-dots ul li.slick-active button {
    background: #CCC6B5;
    color: #CCC6B5;
  }

  @media (min-width: 768px) {
    #slick-slider-dots ul {
        width: 343px;
    }
    #slick-slider-dots ul li button {
        height: 6px;
    }
  }

  select:focus,
  textarea:focus,
  button:focus,
  input:focus {
    outline: none;
  }

  .line-left {
    position: relative;
    padding-left: 8px;
  }

  .line-left::after {
    position: absolute;
    content: "";
    left: 0;
    width: 2px;
    height: 16px;
    top: 2px;
    background: #1973FB;
  }
  .shadow-1px {
    box-shadow: 0 0 4px #aaa;
  }

  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .line-clamp-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  .line-clamp-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
  .line-clamp-6 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }
  .line-clamp-none {
    -webkit-line-clamp: unset;
  }
  /* detail */
  @media screen and (min-width: 600px) {
    .grid-require {
        display: grid;
        grid-template-columns: 200px auto;
    }
  }
  @media screen and (min-width: 1000px) {
    #searchbox.index {
        display: none !important;
    }
  }
  /** Breadcrumb */
  .pan i.chevron-light-gray {
    background: url(../image/chevron_right_gray.svg) no-repeat center 1px/contain;
    display: inline-block;
  }


  /** Header */
  .header__ctc .btn-user {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 9px;
    line-height: 13px;
    font-weight: normal;
    padding-top: 28px;
    background-size: 18.52px;
    background-repeat: no-repeat;
    background-position: center top 8px;
  }
  .header__ctc .btn-user {
    padding-top: 8px;
    background: #1973fb;
  }
  .header__ctc .btn-user span {
    display: inline-block;
    position: relative;
    width: 18.52px;
    height: 18.52px;
    background: url(../image/person_white_24dp.svg) center/100%
        no-repeat;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__ctc .btn-user .status {
    position: relative;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
  }

  /* Searchbox */
  .fvInner .searchBox {
    background: rgba(255, 255, 255, 0.8);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.08));
  }
  .fvInner .searchBox .searchBoxInr .btnSearchItems .btnBottom .btnBottomTxt select {
    position: relative;
    z-index: 1;
    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #1973FB;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  .fvInner .searchBox .searchBoxInr .btnSearchItems .btnBottom .btnBottomTxt select:focus + img {
    transform: translateY(-50%) rotate(90deg);
  }
  .fvInner .searchBox .text-search input {
    height: 46px;
    padding: 0 8px;
    border: 1px solid #cccccc;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
  }
  .fvInner .searchBox .text-search .searchBoxSubmit {
    width: 46px;
    height: 46px;
  }
  .fvInner .searchBox .text-search .searchBoxSubmit-icon {
    background-color: white;
    -webkit-mask: url(../image/search_black.svg) no-repeat center;
    mask: url(../image/search_black.svg) no-repeat center;
  }

  /* Index */
  .popular .sectionTitle h2 span::before {
    content: "Pick up!";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Ms Madi";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #c23244;

    transform: matrix(0.99, -0.18, 0.17, 0.98, 0, 0);;
  }
  .popularCardlist {
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 0 !important;
  }

  .popularCardlist .slick-prev {
    left: -0.5rem;
  }
  .popularCardlist .slick-next {
    right: -0.5rem;
  }
  .popularCardlist .slick-arrow::before {
    content: none;
  }
  .popularCardlist .slick-arrow {
    z-index: 2;
    width: 20px;
    height: 20px;
  }

  .topMain_SectionTitle h2 {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.08em;
    color: #40381f;
    position: relative;
    padding-left: 22px;
  }
  #companyColumns .topMain_SectionTitle h2::before {
    content: '';
    background-image: url(../image/menu_book_fill_blue.svg);
    position: absolute;
    display: table-cell;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  #companyFaq .topMain_SectionTitle h2::before {
    content: '';
    background-image: url(../image/not_listed_location_fill_blue.svg);
    position: absolute;
    display: table-cell;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .icon-temp-preferences-custom-fill-blue {
    background-image: url(../image/temp_preferences_custom_fill_blue.svg);
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .icon-location-on-fill-blue {
    background-image: url(../image/location_on_fill_blue.svg);
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
 }

 .icon-business-center-blue {
    background-image: url(../image/business_center_blue.svg);
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .icon-chevron-right-blue {
    background-image: url(../image/chevron_right_blue.svg);
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fvInner .searchBox .text-search .searchBoxSubmit-icon {
    background-color: white;
    -webkit-mask: url(../image/search_black.svg) no-repeat center;
    mask: url(../image/search_black.svg) no-repeat center;
  }

  @media (min-width: 768px) {
    .popular .sectionTitle h2 span::before {
      font-size: 21px;
      line-height: 28px;
    }

    .topMain_SectionTitle h2 {
      font-size: 18px;
      line-height: 1.444;
    }
    .popularCardlist .slick-arrow {
      width: 40px;
      height: 40px;
    }
    .popularCardlist .slick-prev {
      left: -1rem;
    }
    .popularCardlist .slick-next {
      right: -1rem;
    }
  }


  /** List Job */
  .recList dl {
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    line-height: 17px;
    color: #666;
    margin-bottom: 8px;
  }
  .recList dl:last-child {
    margin-bottom: 0;
  }
  .recList dl .place {
    background: url(../image/location_on_fill_blue.svg) left/16px no-repeat;
  }
  .recList dl .access {
    background: url(../image/train_fill_blue.svg) left/16px no-repeat;
  }
  .recList dl .type {
    background: url(../image/group_fill_blue.svg) left/16px no-repeat;
  }
  .icon-currency-yen-blue {
    background: url(../image/currency_yen_blue.svg) left/16px no-repeat;
  }
  .recList dl .role {
    background: url(../image/business_center_blue.svg) left/16px no-repeat;
  }
  .recList dl .particular {
    background: url(../image/temp_preferences_custom_fill_blue.svg) left/16px no-repeat;
  }
  .recList dt {
    width: 30%;
    float: left;
    margin: 0;
    padding: 0 0 0 0;
  }
  .recList dt span {
    padding-left: 20px;
  }
  .recList dd {
    width: 70%;
    float: right;
    margin: 0;
  }
  .recList dd.w-full {
    width: 100%;
  }

  /** Career mypage */
  .page-user select {
    -webkit-appearance: none;
    background: url(../image/expand_more_ccc.svg) no-repeat right 0.5rem center/16px;
  }

  .nav-tab {
    margin-left: 3rem;
  }

  .nav-tab:hover, .nav-tab:active {
      color: #49a2ffed;
      cursor: pointer;
  }

  .selectionTableList, .job-list {
    margin-top: 45px;
  }

  .selectionTableList #divTableList {
    width: 100%;
    max-height: 600px;
    overflow-y: scroll;
  }

  .selectionTableList #tblList {
    width: 100%;
  }

  .selectionTableList #tblList thead {
    background-color: #86eaeb;
    position: sticky;
    top: 0;
  }

  .selectionTableList #tblList th {
    color: black;
    font-weight: bold;
  }

  .selectionTableList select {
    min-width: 215px;
  }

  .pagination {
    float: right;
    margin-top: 5px;
  }

  .pagination p {
    margin-right: 30px;
  }

  .bg-blue-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(26 86 219/var(--tw-bg-opacity));
  }

  #lblImageJob {
    border: 1px dashed;
  }

  .col-span-3 {
    grid-column: span 3 / span 3;
  }

.ui-dialog .ui-button:hover,
.ui-dialog .ui-button:focus {
    border-color     : #d3d3d3 !important;
    background-color : #e6e6e6 !important;
    color            : #555555 !important;
}

.ui-dialog-titlebar-info {
    color            : #ffffff;
    background-color : #0d6efd;
}

.ui-dialog-titlebar-success {
    color            : #ffffff;
    background-color : #20c997;
}

.ui-dialog-titlebar-error {
    color            : #ffffff;
    background-color : #e35d6a;
}

.cell-error {
    background-color : rgba(255, 196, 196, 0.78) !important;
}

.icon-group-fill-blue {
    background-image: url(../image/group_fill_blue.svg);
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-confirm-contact {
    background-color: #2c59c9;
    height: 30px;
    width: 100px
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0,1fr));
}

ul.hot_job {
    margin-left: 50px;
}

ul.hot_job li {
    display: inline-block;
    width: 250px;
    margin: 0 16px 22px 0;
    font-size: 12px;
    color: #333;
}

ul.hot_job li a {
    display: block;
    text-decoration: none;
    overflow: hidden;
    color: #0b4bc2;
}

ul.hot_job li.rate-rating-gold .hot_job_img {
    border: solid 2px #0b78d2;
}

ul.hot_job li .hot_job_img {
    border: solid 1px #6a6a6a;
    display: inline-block;
    vertical-align: top;
}

ul.hot_job li .job_detail {
    width: 150px;
    display: inline-block;
    padding: 1px 0 0 5px;
    margin-top: -5px;
}

.page-custom .pager {
    justify-content: center;
    display: flex;
}

.page-custom .pager .disabled {
    color: gray;
}

.page-custom .pager li {
    margin-right: 10px;
}

.page-custom .pager span {
    font-size: 20px;
}

.page-custom .pager li a {
    font-size: 20px;
}

.page-custom .pager .active {
    text-decoration: underline;
}

.page-custom .pager li:not(.disabled) {
    color: blue;
}


info {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: center;
    max-width: 70ch;
    margin: 2em auto;
    padding: 0 1.6rem;
  }

  .info a {
    font-weight: 600;
    color: rgb(0, 115, 119);
  }

  .container wee-slider {
    margin: auto;
  }

  wee-slider {
    --wee-slide-align: start;
    --wee-visible-slides-mobile: 1.5;
    --wee-visible-slides-desktop: 3.5;
    --wee-visible-slides: var(--wee-visible-slides-mobile);
    --wee-slide-gap: 10px;
    --wee-navdot-color: rgb(0,0,0);
    --wee-transition: ease-in-out 200ms;
    --wee-slide-width: calc(((100% - (var(--wee-slide-gap) * (var(--wee-visible-slides) - 1))) / var(--wee-visible-slides)));
  }

  @media screen and (min-width: 990px) {
    wee-slider {
      --wee-visible-slides: var(--wee-visible-slides-desktop);
    }
  }

  wee-slider[data-align="start"] { --wee-slide-align: start; }
  wee-slider[data-align="center"] { --wee-slide-align: center; }
  wee-slider[data-align="end"] { --wee-slide-align: end; }

  wee-slider {
    position: relative;
    width: 100%;
    display: block;
  }

  wee-slider:not(.loaded) .wee-slider__buttons,
  wee-slider:not(.loaded) .wee-slider__navdots {
    display: none;
  }
  wee-slider.loaded .wee-slider ::-webkit-scrollbar {
    display: none;
  }
  wee-slider.loaded .wee-slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  wee-slider .wee-slider {
    position: relative;
    overflow: hidden;
  }

  wee-slider .wee-slider__slides {
    display: flex;
    gap: var(--wee-slide-gap);
    padding: 0;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  wee-slider .wee-slider__slide {
    display: block;
    min-width: var(--wee-slide-width);
    background: pink;
    scroll-snap-align: var(--wee-slide-align);
    scroll-margin-left: 0;
    scroll-margin-right: 0;
  }

  wee-slider .wee-slider__buttons button {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
  }

  wee-slider .wee-slider__buttons button:not([disabled]) {
    cursor: pointer;
  }

  wee-slider[data-buttons-on-hover="true"] .wee-slider__buttons {
    opacity: 0;
    transition: opacity ease-in-out 200ms;
  }

  @media (hover: hover) {
    wee-slider[data-buttons-on-hover="true"]:hover .wee-slider__buttons {
      opacity: 1;
    }
  }

  wee-slider .wee-slider__button-next {
    right: 0;
  }

  wee-slider .wee-slider__navdots {
    padding-left: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  wee-slider .wee-slider__navdot {
    position: relative;
    display: block;
    padding: 10px;
  }

  wee-slider .wee-slider__navdot:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 8px;
    width: 8px;
    background: var(--wee-navdot-color);
    border-radius: 50%;
  }

  wee-slider .wee-slider__navdot:hover:after {
    scale: 1.2;
  }

  wee-slider .wee-slider__navdot:not(.visible) {
    opacity: 0.5;
    cursor: pointer;
  }

  /* DEMO CSS */

  wee-slider .wee-slider__slide {
    height: auto;
    background: none;
    opacity: 1;
  }

  wee-slider .slide-content {
    position: relative;
    height: 365px;
    padding-bottom: 80%;
  }

  wee-slider .slide-content > a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity ease-in-out 80ms;
  }

  wee-slider.loaded .wee-slider__slide:not(.visible) a {
    opacity: 0.5;
  }

  wee-slider .wee-slider__buttons button {
    margin: 0 10px;
    border: none;
    font-size: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: 24px;
    border-radius: 50%;
    transition: scale ease 100ms;
  }

  @media (hover: hover) {
    wee-slider .wee-slider__buttons button:hover {
      scale: 1.1;
    }
  }

  wee-slider .wee-slider__buttons button:before {
    content: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z' fill='white'%3E%3C/path%3E%3C/svg%3E");
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: auto;
  }

  .wee-slider__button-prev:before {
    translate: -60% -50%;
    rotate: 90deg;
  }

  .wee-slider__button-next:before {
    translate: -40% -50%;
    rotate: 270deg;
  }
